@{
    ViewBag.Title = "Index";
}

<h2>PDF.JS Viewer - MVC3 Demo</h2>


@Html.ActionLink("View Pdf #1", "Viewer", "Home", new { filePath = "Pdf1.pdf" }, null)
<br/>
@Html.ActionLink("View Pdf #2", "Viewer", "Home", new { filePath = "Pdf2.pdf" },null)
<br/>
@Html.ActionLink("View Pdf #3", "Viewer", "Home", new { filePath = "Pdf3.pdf" }, null)




